<header class="header">
  <div class="container header-container">
      <nav class="header-navigation">
        <div class="header-navigation-container">
          <a href="" class="header-logo">
              <svg width="18" height="18">
                <use
                  href="/img/icons.svg#icon-logo-mobile"
                ></use>
              </svg>
              <svg width="168" height="15">
                <use
                  href="/img/icons.svg#icon-green-harvest-mobile"
                ></use>
              </svg>
          </a>
          <button type="button" class="header-button header-mob-button">
            <svg class="header-mobile-menu" width="26" height="20">
              <use href="/img/icons.svg#icon-mob-menu"></use>
            </svg>
          </button>
          <button type="button" class="header-button header-tab-button">
              <svg class="header-mobile-menu" width="32" height="24">
                <use href="/img/icons.svg#icon-tab-menu" ></use>
              </svg>
          </button>
          <ul class="header-item">
              <li>
                <button class="header-btn" type="submit">
                  <a href="#how-it-works">How It Works</a>
                </button>
              </li>
              <li>
                <button class="header-btn">
                  <a href="#vegetables">Vegetables</a>
                </button>
              </li>
              <li>
                <button class="header-btn">
                  <a href="#reviews">Reviews</a>
                </button>
              </li>
            <li>
              <button class="header-btn-1" type="button">
                <a href="#shop-now">Shop now</a>
              </button>
            </li>
          </ul>
        </div>
      </nav>
  </div>
  <!-- !====DONT-TOUCH!===MOBILE-MENU===== -->
  <load src="./mobile-menu.html" />
  <!-- !====MOBILE-MENU-END===== -->
</header>
