<header class="header">
    <nav>
        <ul class="header-list">
            <div class="header-logo">
                <li>
                    <svg>
                        <use href="../img/icons.svg#icon-Vector" width="16" height="16"></use>
                    </svg>
                </li>
            </div>
            <li>
                <svg>
                    <use href="../img/icons.svg#icon-text" width="148" height="12"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="../img/icons.svg#icon-heroicons-outline_menu-alt-1" width="32" height="32"></use>
                </svg>
            </li>
        </ul>
    </nav>
</header>