<section class="hero">Hero</section>
<div class="container">
    <header>
        <ul class="header-list">
            <li class="header-logo"><img src="./images/vector.svg" alt="logo"></li>
            <li class="header-logo"><img src="./images/text.svg" alt=""></li>

            <li class="icon-header"> <img src="./images/heroicons-outline_menu-alt-1.svg" width="32" height="32"
                    alt=""></li>
            <ul class="header-item">
                <li><button class="header-btn" type="submit"><span class="header-item-text">How It Works</span>
                </button></li>
                <li><button class="header-btn"><span class="header-item-text">Vegetables</span></button></li>
                <li><button class="header-btn"><span class="header-item-text"> Reviews</span></button></li>
                <li><button class="header-btn-1" type="button"><span class="header-item-text-btn">Shop
                            now</span></button>
                </li>
            </ul>
        </ul>



    </header>
    <div class="section">
        <div class="section-2">
            <h1 class="main-text">
                organic vegetables to your diet today!
            </h1>
            <p class="hero-paragraph"><span class="hero-text">Our expertly curated vegetable baskets are made with
                    the freshest, highest
                    quality
                    vegetables available.
                    Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated
                    vegetable
                    baskets delivered to you.</span></p>

        </div>
        <img class="section-img" src="./images/image 3.png" width="" alt="">
    </div>
</div>
</body>