<section class="howit" id="how-it-works">
  <div class="howit-container">
    <h2 class="howit-header visually-hidden">Howit</h2>
    <div class="howit-photo-container">
      <div class="howit-photo-wraper container">
        <picture>
          <source srcset="./img/how-it-works/woman_desktop_2x.jpg 2x, ./img/how-it-works/woman_desktop_1x.jpg 1x" media="(min-width:1280px)">
          <source srcset="./img/how-it-works/woman_tab_2x.jpg 2x, ./img/how-it-works/woman_tab_1x.jpg 1x" media="(min-width:768px)">
          <source srcset="./img/how-it-works/woman_mob_2x.jpg 2x, ./img/how-it-works/woman_mob_1x.jpg 1x" media="(min-width:320px)">
          <img class="howit-image" src="./img/how-it-works/woman_desktop_1x.jpg" alt="Fitness-woman" width="430" height="559">
        </picture>
      </div>
    </div>
    <div class="howit-decription-container">
       <div class="howit-description-wraper container">
         <p class="howit-description-header">To order your <span class="howit-light">vegetable</span> basket, simply follow these <span class="howit-light">easy steps</span></p>
         <p class="howit-description">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home.</p>
         <ol class="howit-list">
          <li class="howit-list-item">
            <p class="howit-list-text">Just choose <span class="howit-bold">the vegetable</span> you want to order by clicking on the checkboxes <span class="howit-bold">next to it.</span></p>
          </li>
          <li class="howit-list-item">
            <p class="howit-list-text">Click on <span class="howit-bold">the basket</span> and fill out the form.</p>
          </li>
          <li class="howit-list-item">
            <p class="howit-list-text">Sit back and relax! Your <span class="howit-bold">fresh vegetables</span> basket will be delivered.</p>
          </li>
         </ol>
       </div>
    </div>
  </div>
</section>
