<div class="tab-menu ">
  <div class="mob-menu is-open">
    <button type="button" class="mob-close">
      <svg class="mob-icon-close" width="32" height="32">
        <use href="/img/icons.svg#icon-mob-close"></use>
      </svg>
    </button>
    <div class="mob-nav">
      <nav>
        <ul class="mob-list">
          <li class="mob-item mob-item-hiw"><a href="/src/partials/how-it-works.html" class="mob-link mob-link-hiw">How
              It
              Works</a></li>
          <li class="mob-item"><a href="/src/partials/vegetables.html" class="mob-link">Vegetables</a></li>
          <li class="mob-item mob-rev"><a href="/src/partials/reviews.html" class="mob-link">Reviews</a></li>
        </ul>
      </nav>
    </div>
    <button type="button" class="mob-btn">Shop now</button>
  </div>
</div>