<div class="tab-menu">
  <div class="mob-menu ">
    <button type="button" class="mob-close tab-button">
      <svg class="mob-icon-close mob-svg" width="24" height="24">
        <use href="/img/icons.svg#icon-tab-close"></use>
      </svg>
    </button>
    <button type="button" class="mob-close mob-button">
      <svg class="mob-icon-close tab-svg" width="20" height="20">
        <use href="/img/icons.svg#icon-mob-close"></use>
      </svg>
    </button>
    <div class="mob-nav">
      <nav>
        <ul class="mob-list">
          <li class="mob-item mob-item-hiw"><a target="_blank" href="#how-it-works"  class="mob-link mob-link-hiw">How
              It
              Works</a></li>
          <li class="mob-item"><a target="_blank" href="#vegetables" class="mob-link">Vegetables</a></li>
          <li class="mob-item mob-rev"><a target="_blank" href="#reviews" class="mob-link">Reviews</a></li>
        </ul>
      </nav>
    </div>
    <a target="_blank" href="#shop-now" class="mob-btn">Shop now</a>
  </div>
</div>