<section class="reviews">
  <div class="container reviews-box">
    <div class="reviews-wrap">
      <h2 class="reviews-title">reviews from our <span>customers</span></h2>
      <p class="reviews-text">Words of our customers: impressions and opinions about the quality of our services and
        the
        freshness of our products.</p>
    </div>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img srcset="/img/reviews/pfoto1-2x.png 2x, /img/reviews/pfoto1.png 1x" src="/img/reviews/pfoto1.png"
          alt="John Wax" width="56" height="56" class="reviews-img">
        <h3 class="reviews-item-title">John Wax</h3>
        <p class="reviews-item-text">These vegetables are my secret to delicious and healthy meals. The quality is
          always at the highest level, the aroma and
          taste are enchanting. I advise every fan of real products!</p>
      </li>
      <li class="reviews-item">
        <img srcset="/img/reviews/pfoto2-2x.png 2x, /img/reviews/pfoto2.png 1x" src="/img/reviews/pfoto2.png"
          alt="Victoria Romashenko" width="56" height="56" class="reviews-img">
        <h3 class="reviews-item-title">Victoria Romashenko</h3>
        <p class="reviews-item-text">I love how fast and fresh the vegetables are delivered. Salads always turn out
          so
          appetizing, and soups are real
          masterpieces. The quality is impeccable!</p>
      </li>
      <li class="reviews-item">
        <img srcset="/img/reviews/pfoto3-2x.png 2x, /img/reviews/pfoto3.png 1x" src="/img/reviews/pfoto3.png"
          alt="Ihor Trachuk" width="56" height="56" class="reviews-img">
        <h3 class="reviews-item-title">Ihor Trachuk</h3>
        <p class="reviews-item-text">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the
          taste, as if from the garden directly to
          my table. It is now my main vegetable supplier.</p>
      </li>
    </ul>
  </div>
</section>