<section class="order" id="shop-now">
  <div class="container">
    <h2 class="order-title">
      Fresh <span class="order-title-harvest">Harvest</span> Box has got you
      covered
    </h2>
    <p class="order-title-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-item">
      <form class="order-form">
        <h3 class="order-form-title">
          Ordering <span class="order-form-title-from">from us</span> is quick
          and easy! Fill out
          <span class="order-form-title-the">the form</span> below and we will
          contact you !
        </h3>
        <input class="order-form-input" type="text" name="full-name" placeholder="Full name" id="full-name" required />
        <div class="input-wrap">
          <input class="order-form-input" type="email" name="email" placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required />
          <p class="text-valid">Succes!</p>
          <p class="text-invalid">Invalid email, try again</p>
        </div>
        <textarea class="order-form-comment" name="form-comment" id="form-comment" placeholder="Comment"
          rows="4"></textarea>
        <button class="order-button" type="submit">Send</button>
      </form>
      <div class="soc-networks">
        <picture class="soc-networks-picture">
          <source srcset="
              /img/your-order/rectangle-desc2x.jpg 2x,
              /img/your-order/rectangle-desc.jpg   1x
            " media="(min-width: 1280px)" />
          <source srcset="
              /img/your-order/rectangle-tab2x.jpg 2x,
              /img/your-order/rectangle-tab.jpg   1x
            " media="(min-width: 768px)" />
          <source srcset="
              /img/your-order/rectangle-mob2x.jpg 2x,
              /img/your-order/rectangle-mob.jpg   1x
            " media="(min-width: 375px)" />

          <img class="soc-networks-picture" src="/img/your-order/rectangle-mob.jpg" alt="Rectangle" width="295"
            height="273" />
        </picture>
        <p class="soc-networks-text">Follow us on our social networks:</p>
        <ul class="soc-networks-list">
          <li class="soc-networks-item">
            <a href="https://www.instagram.com/goitclub/" target="_blank">instagram /&nbsp;</a>
          </li>
          <li class="soc-networks-item">
            <a href="https://www.facebook.com/goITclub/" target="_blank">facebook /&nbsp;</a>
          </li>
          <li class="soc-networks-item">
            <a href="https://www.youtube.com/c/GoIT" target="_blank">
              youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>