<section class="order">
  Your order
  <h2 class="order-title">
    Fresh <span class="order-title-harvest">Harvest</span> Box has got you
    covered
  </h2>
  <p class="order-title-text">
    Our boxes are packed with delicious, nutritious vegetables, perfect for
    anyone looking to eat healthier or support local farmers. Order your box
    today and start enjoying the best that nature has to offer!
  </p>
  <div>
    <form>
      <h3>
        Ordering <span class="">from us</span> is quick and easy! Fill out
        <span>the form</span> below and we will contact you !
      </h3>
      <input type="text" />
      <input
        class="inp"
        type="email"
        name="email"
        placeholder="Email"
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        required
      />
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button type="submit">Send</button>
    </form>
    <div class="soc-networks">
      <picture>
        <source
          srcset="
            ../img/your-order/rectangle-desc2x.jpg 2x,
            ../img/your-order/rectangle-desc.jpg   1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/your-order/rectangle-tab2x.jpg 2x,
            ../img/your-order/rectangle-tab.jpg   1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/your-order/rectangle-mob2x.jpg 2x,
            ../img/your-order/rectangle-mob.jpg   1x
          "
          media="(min-width: 375px)"
        />
        <img
          src="../img/your-order/rectangle-desc.jpg"
          alt="Rectangle"
          width="427"
          height="273"
        />
      </picture>
      <p>Follow us on our social networks:</p>
      <ul>
        <li><a href="https://www.instagram.com/goitclub/">instagram /</a></li>
        <li><a href="https://www.facebook.com/goITclub/">facebook /</a></li>
        <li><a href="https://www.youtube.com/c/GoIT">youtube</a></li>
      </ul>
    </div>
  </div>
</section>
