.footer {
    background-color: #7A3145;
}

.footer-container {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}

.logo {
    display: none;
}

.logo-mobile {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 14px;
    margin-bottom: 40px;
}

.logo-footer-mobile {
    width: 16px;
    height: 16px;
    fill: #FBFBFB;
}

.logo-footer-text-mobile {
    width: 146px;
    height: 12px;
    fill: #FBFBFB;
} 

.footer-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FBFBFB;
}

/* .footer-nav {
    margin-bottom: 40px; 
} */

.footer-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
} 

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.nav-item {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.015em;
    color: #FBFBFB;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.address-item {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #FBFBFB;

}
<<<<<<< Updated upstream

=======
/* .phone-number {
} */
>>>>>>> Stashed changes
.privacy-policy {
   margin-top: 80px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.pp-block1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
<<<<<<< Updated upstream

=======
/* .pp-block2 {
} */
>>>>>>> Stashed changes

.pp-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.015em;
    color: rgba(251, 251, 251, 0.5);
}


@media screen and (min-width:375px) {
    .footer-container {
        width: 375px;
    }
    .logo-text {
        width: 296px;
    }
}

@media screen and (min-width:768px) {

    .footer-container {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: start;
        width: 768px;
        max-width: 100%;
    }

    .logo-text {
        width: 265px;
        gap: 25px;  
        margin: 0;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
    }


    .logo-footer {
        width: 18px;
        height: 18px;
        fill: #FBFBFB;
    }
    
    .logo-footer-text {
        width: 168px;
        height: 18px;
        fill: #FBFBFB;
    }

    .logo-mobile {
        display: none;
    }

    .logo-footer-mobile {
        display: none;
    }

    .logo-footer-text-mobile {
        display: none;
    }

    .footer-text {
        font-size: 16px;
        line-height: 20px;
    }

    /* .footer-nav {
        margin-bottom: 64px;
    } */

    .footer-side {
        display: flex;
        flex-direction: column;
        gap: 64px;
    } 

    .nav-list {
        gap: 25px;
    }

    .nav-item {
        font-size: 32px;
        line-height: 32px;
    }

    .address-item {
        font-size: 18px;
        line-height: 20px;
    }

    .footer-side {
        gap: 64px;
    }

    .privacy-policy {
        margin-top: 100px;
     }

    .pp-text {
       font-size: 18px;
       line-height: 20px;
    }
}

@media screen and (min-width:1280px) {

    .footer-container {
        align-items: start;
        width: 1280px;
    }

    /* .logo-text {

    } */

    /* .footer-nav {
        margin-bottom: 121px;
    } */

    .footer-side {
        flex-direction: row;
        gap: 121px;
    } 

    .privacy-policy {
        margin-top: 125px;
     }

}