.hero {
  background-color: #576f35;
  position: relative;
}

.hero-container {
  /* padding: 100px 10px 0px 10px; */
}

.hero-text-wrap {


  margin: 0 auto;
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column; */
  /* gap: 40px; */
  /* margin-bottom: 40px; */
}

.hero-img {
    width: 100%;
    height: 370px;
    background-color: brown;
    /* height: 100%; */
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-img {
      background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-mob-2x.jpg);
    }
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}



@media screen and (min-width: 375px) {

  .hero-text-wrap {
    /* width: 335px; */
  }

  .hero-img {
    background-image:
    linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-img {
      background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-mob-2x.jpg);
    }
}


}

@media screen and (min-width: 768px) {
  .hero-container {
    /* padding-top: 122px; */
    /* max-width: 1279px; */
  }
  .hero-text-wrap {

    /* gap: 25px; */
    /* margin-bottom: 50px; */
  }

  .hero-img {
    height: 539px;
    background-image:
    linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-tab.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-img {
      background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-tab-2x.jpg);
    }
}


  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }

  .hero-text {
    width: 603px;
    font-size: 16px;
    line-height: 1.25;
  }

}

@media screen and (min-width: 1280px) {
    .hero-container {
      display: flex;
    /* min-width: 1280px;
    display: flex;
    padding: 0;
    margin: 0 auto; */
}

.hero-img {
  width: 50%;
  height: 800px;
    background-image:
    linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-img {
      background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-desktop-2x.jpg);
    }}

.hero-text {
    width: 472px;
}

.hero-title {
  width: 502px;
  margin-bottom: 128px;
}

.hero-text-wrap {
width: 50%;
display: flex;
flex-direction: column;
align-items: flex-end;
padding-right: 28px;
padding-top: 238px;
padding-bottom: 50px;
}
}
