.hero {
    background-color:aqua;
}
.hero-text {
    color: #FBFBFB;
    font-family: "Inter Tight";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.hero-paragraph {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.text-image {
    margin-right: 130px;
}

.logo-image {
    margin-right: 4px;
}

.main-text {
    color: #FBFBFB;
    font-family: "Inter Tight";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 154px;
}


.header-list {
    background: #576F35;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.icon-header {
    margin-left: auto;
    margin-right: 20px;
}

.header-logo {
    margin-right: 4px;
    padding-top: 32px;
}

.container {
    background-color: #576F35;
    min-width: 375px;
    margin: 0 auto;
}

.section-img {
    background: linear-gradient(0deg, rgba(20, 20, 20, 0.20) 0%, rgba(20, 20, 20, 0.20) 100%), url(<path-to-image>) lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
    width: 100%;

}

.header-item {
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .container {
        background-color: #576F35;
        min-width: 768px;
        margin: 0 auto;
    }

    .header-item {
        visibility: hidden;
    }

    .main-text {
        color: #FBFBFB;

        font-family: "Inter Tight";
        font-size: 76px;
        font-style: normal;
        font-weight: 600;
        line-height: 76px;
        /* 100% */
        letter-spacing: -1.14px;
        text-transform: uppercase;
    }

    .hero-text {
        color: #FBFBFB;
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        .section-img {
            width: auto;
        }

        .section-img {
            background: url(./images/image\ 3-tablet.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    @media screen and (min-width: 1158px) {
        .container {
            background-color: #576F35;
            min-width: 1158px;
        }

        .hero-paragraph {
            margin-top: 128px;
            text-align: left;

        }

        .section-2 {
            padding-left: 100px;
        }

        .section {
            display: flex;
        }

        .section-2 {}

        .section-img {
            min-width: 650px;
            height: 800px;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .icon-header {
            visibility: hidden;
        }

        .header-item {
            visibility: visible;
            display: flex;
            gap: 20px;
            padding-right: 100px;
            padding-top: 32px;
        }

        .header-btn {
            border-radius: 12px;
            border: 1px solid rgba(251, 251, 251, 0.40);
            padding: 12px;
            background-color: transparent;
            cursor: pointer;
        }

        .header-btn-shop {
            border-radius: 30px;
            background: #7A3145;
        }

        .header-item-text {
            color: #FBFBFB;
            text-align: center;
            font-family: "Inter Tight";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 125% */
            letter-spacing: -0.32px;
        }

        .header-item-text-btn {
            color: #FBFBFB;
            font-family: "Inter Tight";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            /* 111.111% */
            letter-spacing: -0.27px;
            text-transform: uppercase;
        }

        .header-btn-1 {
            border-radius: 30px;
            background: #7A3145;
            padding: 16px 32px;
            justify-content: center;
            cursor: pointer;
        }
    }