.tab-menu {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100%;
  background: #7a3145;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 20px;
}

.mob-close {
  border: none;
  display: block;
  background-color: transparent;
  margin-left: auto;
}

.mob-icon-close {
  stroke: #fbfbfb;
}

.mob-nav {
  margin: 0 auto;
}

.mob-list {
  width: 115px;
  margin-bottom: 40px;
}

.mob-item:not(:last-child) {
  margin-bottom: 8px;
}

.mob-item {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.mob-item:hover{
  background-color: #fbfbfb;
}

.mob-item:focus{
  background-color: #fbfbfb;
}

.mob-item-hiw {
  padding: 12px 16px;
  background-color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.mob-rev {
  padding: 12px 32px;
}

.mob-link {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.mob-item:hover .mob-link{
  color: #7a3145;
}
.mob-item:focus .mob-link{
  color: #7a3145;
}
.mob-link-hiw {
  color: #7a3145;
}

.mob-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  border-radius: 30px;
  background: #fbfbfb;
  border: none;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 16px 32px;
}
.mob-button{
  width: 32px;
  height: 32px;
}
.tab-button{
  width: 40px;
  height: 40px;
}
.mob-item-hiw:hover .mob-link-hiw{
  color: rgba(122, 49, 69, 0.7);
}
.mob-item-hiw:focus .mob-link-hiw{
  color: rgba(122, 49, 69, 0.7);
}
.mob-btn:active,
.mob-btn:hover,
.mob-btn:focus {
  color: rgba(122, 49, 69, 0.7);
}


@media screen and (min-width: 768px) {
  .tab-menu {
    background: rgba(20, 20, 20, 0.4);
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .mob-menu {
    width: 351px;
    left: auto;
    right: 0;
    padding-right: 42px;
    padding-top: 42px;
  }

  .mob-list {
    width: 123px;
  }

  .mob-item {
    padding: 12px 21px;
  }

  .mob-item-hiw {
    padding: 12px;
  }

  .mob-rev {
    padding: 12px 28px;
  }

  .mob-link {
    font-size: 16px;
    line-height: 1.25;
  }

  .mob-btn {
    font-size: 18px;
    line-height: 1.11;
  }
  .mob-button{
    display: none;
  }

}

@media screen and (min-width: 1280px) {
  .tab-menu {
    display: none;
  }

}
@media screen and (max-width: 767px) {
  .tab-button{
    display: none;
  }
}