.reviews {
    min-width: 320px;
    max-width: 375px;
}

.reviews-wrap {
    max-width: 335px;
    min-height: 224px;
    margin-bottom: 40px;
}

.reviews-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 20px;
    width: 100%;
}

.reviews-title span {
    color: #576f35;
}

.reviews-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #141414;
    width: 100%;
}

.reviews-item {
    border: 1px solid rgba(122, 49, 69, 0.3);
    border-radius: 24px;
    padding: 20px 16px 38px 16px
}

.reviews-item:not(:first-child) {
    display: none;
}

.reviews-img {
    margin: 0 auto;
    margin-bottom: 24px;
    flex-shrink: 0;
}

.reviews-item-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
    margin-bottom: 8px;
}

.reviews-item-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
    padding-left: 7px;
    padding-right: 7px;
}

@media screen and (min-width:768px) {
    .reviews {
        min-width: 768px;
    }

    .reviews-wrap {
        min-width: 553px;
        min-height: 193px;
        margin-bottom: 50px;
    }

    .reviews-title {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 25px;
    }

    .reviews-text {
        font-size: 16px;
        line-height: 1.25;
    }

    .reviews-list {
        display: flex;
        flex-direction: row;
        gap: 18px;
    }

    .reviews-item {
        width: 100%;
        padding: 20px 20px;
    }

    .reviews-item:not(:last-child) {
        display: block;
    }

    .reviews-item-title {
        font-size: 18px;
        line-height: 1.1;
        color: #141414;
    }

    .reviews-item-text {
        font-size: 16px;
        line-height: 1.4;
        color: rgba(20, 20, 20, 0.4);
    }

}

@media screen and (min-width: 1280px) {
    .reviews {
        min-width: 1280px;
    }

    .reviews-list {
        gap: 25px;
    }

    .reviews-item:last-child {
        display: block;
    }
}