.vegetables {
  background: #7a3145;
}

@media screen and (min-width: 768px) {
  .vegetables-box {
    display: flex;
    flex-wrap: wrap;
  }
}

.vegetables-box {
  width: 375px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .vegetables-box {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables-box {
    width: 1280px;
  }
}

.vegetable-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
  margin-top: 80px;
  justify-content: center;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .vegetable-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .vegetable-title {
    width: 626px;
  }
}

.span-vegetable {
  color: rgba(251, 251, 251, 0.3);
}
.vegetables-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fbfbfb;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .vegetables-description {
    width: 626px;
  }
}

.vegetable-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .vegetable-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 28px;
    row-gap: 20px;
    flex-direction: row;
    margin-bottom: 100px;
  }
}

.vegetable-item {
  background: #fbfbfb;
  border-radius: 0px 0px 4px 4px;

  border-radius: 40px;
  padding: 32px 26px;
  width: 334px;
  height: 379px;
}

@media screen and (min-width: 768px) {
  .vegetable-item {
    padding: 32px 30px;
    width: 342px;
  }
}

@media screen and (min-width: 768px) {
  .vegetable-item {
    padding: 32px;
    width: 346px;
    height: 379px;
  }
}

.vegetables-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #7a3145;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .vegetables-name {
    font-size: 32px;
  }
}

.veg-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
