.order {
  background-color: var(--bwn);
}

a {
  color: var(--wht);
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

a:active {
  font-weight: 500;
  /* color: #404bbf; */
}

input:active {
  border: none;
}

input:focus {
  border: none;
}

.order-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--wht);
  margin-bottom: 29px;
}

.order-title-harvest {
  color: rgba(251, 251, 251, 0.3);
}

.order-title-text {
  font-size: 14px;
  line-height: 1.29;
  color: var(--wht);
  margin-bottom: 40px;
}

.order-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.order-form {
  border-radius: 30px;
  padding: 40px 20px;
  width: 335px;
  height: 533px;
  background-color: var(--wht);
}

.order-form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  padding-bottom: 40px;
}

.order-form-title-from {
  color: var(--bwn);
}

.order-form-title-the {
  color: var(--grn);
}

.order-form-input {
  outline: none;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding: 14px 220px 14px 16px;
  width: 100%;
  height: 46px;
  /* margin-bottom: 15px; */
  padding: 14px 16px;
}

.order-form-input::placeholder {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #141414;
}

/* стилізація інпута в стані фокус */
.order-form-input:focus {
  outline: none;
  border: 1px solid var(--bwn);
}

/* стилізація інпута при не валідному значенні */
.order-form-input:not(:placeholder-shown):invalid {
  outline: none;
  border: 1px solid red;
}

/* стилізація інпута при валідному значенні */
.order-form-input[type='email']:valid {
  border-color: var(--grn);
}

.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 3px;
  display: none;
}

.text-valid {
  color: var(--grn);
}

.text-invalid {
  color: red;
}

/* стилізація інформаційного текста при валідному значенні в інпуті */
.order-form-input:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

/* стилізація інформаційного текста при не валідному значенні в інпуті */
.order-form-input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.order-form-comment {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  padding: 14px 219px 59px 16px;
  width: 100%;
  height: 91px;
  padding: 14px 16px;
}

.order-form-comment::placeholder {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #141414;
}

/* стилізація інпута в стані фокус */
.order-form-comment:focus {
  outline: none;
  border-color: var(--bwn);
}

.input-wrap {
  margin-top: 15px;
  margin-bottom: 15px;
}

.order-button {
  background-color: var(--grn);
  margin-top: 20px;
  border-radius: 30px;
  padding: 16px 129px;
  width: 100%;
  height: 50px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--wht);
  display: block;
  cursor: pointer;
  border: none;
}

.order-button:is(:hover, :focus) {
  background-color: var(--bwn);
}

.soc-networks {
  background-color: var(--grn);
  border-radius: 30px;
  padding: 40px 20px;
  width: 335px;
  /* height: 465px; */
}

.soc-networks-picture {
  max-width: 100%;
  border: none;
  border-radius: 16px;
  border: none;
  filter: brightness(70%);
}

.soc-networks-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-top: 20px;
  margin-bottom: 14px;
}

.soc-networks-list {
  display: block;
}

.soc-networks-item {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  color: var(--wht);
}

@media screen and (min-width: 768px) {
  .order-title {
    width: 640px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .order-title-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
    width: 640px;
  }

  .order-item {
    margin: 0 auto;
    gap: 25px;
  }

  .order-form {
    width: 628px;
    padding: 50px 100px;
  }

  .soc-networks {
    width: 628px;
    padding: 50px;
  }

  .soc-networks-picture {
    width: 528px;
    height: 273px;
    margin: 0 auto;
  }

  .soc-networks-text {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.11;
  }

  .soc-networks-item {
    font-size: 32px;
    line-height: 1;
  }
}

@media screen and (min-width: 1280px) {
  .order-title {
    width: 751px;
  }

  .order-title-text {
    width: 751px;
  }

  .order-item {
    flex-direction: row;
    gap: 24px;
  }

  .order-form {
    width: 529px;
    height: 534px;
  }

  .soc-networks {
    width: 527px;
    height: 534px;
  }

  .soc-networks-picture {
    width: 427px;
    height: 273px;
  }
}
